.btn-038 {
  &:any-link {
    color: var(--color-primery-1);
    background: linear-gradient(
      25deg,
      var(--color-secondary-1) 0%,
      var(--color-secondary-9) 100%
    );
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: all 0.3s;
  }

  &:hover {
    animation: btn38 2s ease-in-out infinite;
  }
}

@keyframes btn38 {
  0% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-1) 0%,
      var(--color-secondary-2) 100%
    );
  }
  10% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-2) 0%,
      var(--color-secondary-3) 100%
    );
  }
  20% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-3) 0%,
      var(--color-secondary-4) 100%
    );
  }
  30% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-4) 0%,
      var(--color-secondary-5) 100%
    );
  }
  40% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-5) 0%,
      var(--color-secondary-6) 100%
    );
  }
  50% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-6) 0%,
      var(--color-secondary-7) 100%
    );
  }
  60% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-7) 0%,
      var(--color-secondary-8) 100%
    );
  }
  70% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-8) 0%,
      var(--color-secondary-9) 100%
    );
  }
  80% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-9) 0%,
      var(--color-secondary-10) 100%
    );
  }
  90% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-10) 0%,
      var(--color-secondary-1) 100%
    );
  }
  100% {
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-1) 0%,
      var(--color-secondary-2) 100%
    );
  }
}
