.btn-000 {
  /* &:link {
  } */

  /* &:visited {
  } */

  &:any-link {
    color: #fff;
    background: red;
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
  }

  &:hover {
    background: orange;
  }

  &:active {
    background: purple;
    letter-spacing: 0.4rem;
  }

  /* &:focus {
    background: green;
  } */

  &:before {
    content: "b";
    color: red;
    background: #fff;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
  }

  &:hover:before {
    color: #fff;
    background: red;
  }

  &:active:before {
    color: red;
    background: #ccc;
  }

  &:after {
    content: "a";
    color: blue;
    background: #fff;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
  }

  &:hover:after {
    color: #fff;
    background: blue;
  }

  &:active:after {
    color: blue;
    background: #ccc;
  }
}
