.btn-008 {
  &:any-link {
    color: var(--color-secondary-8);
    border: 0.2rem solid var(--color-secondary-8);
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
  }

  &:hover,
  &:active {
    color: var(--color-primery-1);
    box-shadow: 0 0 2rem var(--color-secondary-8);
  }

  &:before {
    content: "";
    background: var(--color-secondary-8);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.2s;
    transform: translateY(100%);
  }

  &:hover:before {
    transform: translateY(0);
  }
}
