.btn-043 {
  &:any-link {
    color: var(--color-secondary-3);
    text-decoration: none;
    padding: 1rem 1.5rem;
    letter-spacing: 0.2rem;
    position: relative;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  }

  &:hover {
    color: var(--color-primery-1);
    transition-delay: 0.4s;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
    top: 0;
    width: 0;
    height: 100%;
  }

  &:before {
    left: 0;
    border: 0.1rem solid var(--color-secondary-3);
    border-left: 0;
    border-right: 0;
  }

  &:hover:before {
    transition-delay: 0s;
    width: 100%;
  }

  &:after {
    right: 0;
  }

  &:hover:after {
    background: var(--color-secondary-3);
    transition-delay: 0.3s;
    width: 100%;
  }
}
