.btn-023 {
  &:any-link {
    color: var(--color-primery-1);
    text-decoration: none;
    padding: 1rem 2rem;
    position: relative;
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: -5%;
    top: -0.5rem;
    background: var(--color-secondary-7);
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &:hover:before {
    transform: skewX(0deg);
    left: 50%;
    top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 55%;
    top: 0.5rem;
    background: var(--color-secondary-1);
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &:hover:after {
    transform: skewX(0deg);
    left: 0%;
    top: 0;
  }
}
