.btn-037 {
  &:any-link {
    color: var(--color-primery-1);
    border: none;
    text-decoration: none;
    padding: 1rem 2.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5rem;
    background-size: 300% 100%;
    background-image: linear-gradient(
      to right,
      var(--color-secondary-7),
      var(--color-secondary-10),
      var(--color-secondary-10),
      var(--color-secondary-7)
    );
  }

  &:hover,
  &:active {
    background-position: 100% 0;
    transition: all 0.3s ease-in-out;
  }
}
